/* # Misc */

body {
    .border {
        border-color: $border-color !important;
    }
    .border-gray-dark {
        border-color: $border-color !important;
    }
    .border-top,
    .border-right,
    .border-bottom,
    .border-left,
    .border-lg-left,
    .BorderGrid-cell,
    .Subhead {
        border-color: $border-color !important;
    }
    .bg-white {
        background-color: $bg-color !important;
    }
    .pagination {
        a,
        em:focus,
        em:hover,
        span:focus,
        span:hover {
            border-color: $border-color !important;
            color: $link-color !important;
            background-image: $button-bg-image !important;
        }
        a:focus,
        a:hover {
            background-image: $button-bg-image-hover !important;
        }
        .gap,
        .disabled,
        .gap:hover,
        .disabled:hover {
            background-color: $dropdown-bg !important;
            background-image: none !important;
            border-color: $border-color !important;
        }
        .current,
        .current:hover {
            background-color: $button-active-color !important;
            background-image: none;
        }
    }
    .ajax-pagination-form .ajax-pagination-btn {
        color: $link-color !important;
        background-image: $button-bg-image !important;
        border-color: $border-color !important;
    }
    .btn {
        color: $link-color !important;
        background-image: $button-bg-image !important;
    }
    .btn.hover,
    .btn:hover {
        background-image: $button-bg-image-hover !important;
        background-position: 0 !important;
    }
    .btn.selected,
    .btn:active {
        background-color: $border-color !important;
    }
    .btn.disabled,
    .btn:disabled {
        background-color: $dropdown-bg !important;
        color: $link-color !important;
        opacity: 0.5 !important;
        cursor: not-allowed !important;
    }
    .btn-outline.disabled,
    .btn-outline:disabled {
        background-color: $dropdown-bg !important;
        cursor: not-allowed !important;
    }
    .btn-primary {
        color: $bright-text-color !important;
        background-image: $button-primary-bg-image !important;
    }
    .btn-primary:hover {
        background-image: $button-primary-bg-image-hover !important;
    }
    .btn-danger {
        background-image: $button-danger-bg-image !important;
    }
    .btn-danger:hover {
        background-image: $button-danger-bg-image-hover !important;
    }
    .gh-header {
        background-color: transparent !important;
    }
    .gh-header-meta {
        color: $text-color !important;
        border-color: $border-color !important;
    }
    .gh-header-meta .author {
        color: $text-color !important;
    }
    .gh-header .gh-header-sticky.is-stuck + .gh-header-shadow {
        background-color: $bg-color !important;
    }
    .ellipsis-expander,
    .hidden-text-expander a {
        background: $tag-bg-color !important;
        color: $link-color-selected !important;
    }
    .underline-nav-item.selected {
        color: $link-color-selected !important;
    }
    .underline-nav-item:focus,
    .underline-nav-item:hover {
        color: $link-color-selected !important;
    }
    .dropdown-menu {
        background-color: $dropdown-bg !important;
        border-color: $border-color;
        &:after {
            border-bottom-color: $dropdown-bg !important;
        }
        &:before {
            border-bottom-color: $border-color;
        }
    }
    .dropdown-divider {
        border-color: $border-color;
    }
    .muted-link {
        color: $link-color !important;
        &:hover {
            color: $bright-text-color !important;
            text-decoration: underline !important;
        }
    }
    .text-shadow-light {
        text-shadow: none;
    }
    .text-green {
        color: $text-green-color !important;
    }
    .text-red {
        color: $text-red-color !important;
    }
    .exploregrid-item-title {
        color: $bright-text-color !important;
    }
    .topic-tag-action {
        color: $border-color !important;
    }
    .dropdown-item {
        color: $link-color !important;
    }
    .dropdown-header {
        color: $faded-link-color !important;
    }

    .Popover-message--bottom-left:before,
    .Popover-message--bottom-right:before,
    .Popover-message--bottom:before {
        border-top-color: $border-color !important;
    }

    .Popover-message--bottom-left:after,
    .Popover-message--bottom-right:after,
    .Popover-message--bottom:after {
        border-top-color: $block-bg !important;
    }


    .Popover-message:before {
        border-bottom-color: $border-color !important;
    }

    .Popover-message:after {
        border-bottom-color: $block-bg !important;
    }

    .render-notice {
        background-color: $dropdown-bg !important;
        color: $text-color !important;
    }
}

.cc-ext .pagehead-actions .cc-classic-cta a {
    border-color: $border-color !important;
}

.pagehead-actions > li {
    color: $bright-text-color !important;
}
