/* # Insights Pulse */

.summary-stats li .num {
    color: $text-color !important;
}

.diffstat-summary strong {
    color: $text-color !important;
}

/* # Insights Contributors */

.tint-box {
    background: $comment-bg !important;
}
.capped-card-content {
    background: $comment-bg !important;
}

/* # Insights Traffic */

.boxed-group-inner {
    color: $text-color !important;
}

table.capped-list tr:nth-child(even) {
    background-color: $bg-color !important;
}

/* # Insights Forks */

.network .current-repository {
    background-color: $private-bg !important;
}

/* Marketplace */

.MarketplaceSideNav {
    background-color: $bg-color !important;
}

/* Upgrade your plan */

.radio-label {
    color: $text-color !important;
}

.bg-gray.bg-gray {
    background-color: $dropdown-bg !important;
}

.bg-gray-light {
    background-color: $tag-bg-color !important;
}

.token-scope {
    color: $bright-text-color !important;
}

.access-token .token-description {
    color: $link-color !important;
}

/* Scroll bar */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 12px;
    border-radius: 12px;
    margin: 2px 0 2px 0;
    background-color: $private-bg;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: $light-border-color;
}
