/* # Octotree Extension */

.octotree_sidebar .octotree_bottom {
    background-color: $dropdown-bg !important;
    border-top: 1px solid $border-color !important;
    border-right: 1px solid $border-color !important;
}
